<h1>Products</h1>
<p><%= link_to "Add a product", new_product_path %></p>

<% if @search_made %>
  <h3>Search Results</h3>
  <% if @products_search.any? %>
    <ul>
      <% @products_search.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
    <% else %>
    <p>No results.</p>
  <% end %>
<% end %>

<% if @products.any? %>
  <h3>All Products</h3>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
  <%= paginate @products %>
<% else %>
  <p>Looks like we're completely out of stock! Check back on Tuesday when we'll have our next inventory refresh.</p>
<% end %>
