<h1>Reviews</h1>

<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
      <li><%= link_to review.name, review_path(review) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet.</p>
<% end %>

<p><%= link_to "Create new review", new_product_review_path %></p>
